.student-info-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 3%;
}

.student--img {
  border-radius: 50%;
  border: 1px solid black;
  height: 150px;
  width: 150px;
  overflow: hidden;
  /* position: relative; */
  margin-top: 5%;
}

.student--img img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.student-details {
  padding-left: 10%;
}

.details {
  padding-left: 7%;
  text-align: left;
  list-style: none;
}

@media only screen and (max-width: 688px) {
}

@media only screen and (min-width: 689px) and (max-width: 992px) {
}

@media only screen and (min-width: 993px) {
}
