.student-info-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 3%;
}

.student--img {
  border-radius: 50%;
  border: 1px solid black;
  height: 150px;
  width: 150px;
  overflow: hidden;
  /* position: relative; */
  margin-top: 5%;
}

.student--img img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.student-details {
  padding-left: 10%;
}

.details {
  padding-left: 7%;
  text-align: left;
  list-style: none;
  width: 100%;
}

.student-name h1 {
  text-align: left;
}

li {
  list-style: none;
}

.grades ul {
  padding-left: 7%;
  text-align: left;
}

@media only screen and (max-width: 550px) {
  .student-name h1 {
    font-size: 20px;
  }
  .student--img {
    height: 100px;
    width: 100px;
    margin-left: 5%;
  }

  .details {
    font-size: 14px;
  }
}

@media only screen and (min-width: 551px) and (max-width: 992px) {
  .details {
    font-size: 20px;
  }
}

@media only screen and (min-width: 993px) {
  .details {
    font-size: 25px;
  }
  .student-name h1 {
    font-size: 40px;
  }
}
