.student-info-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 3%;

  .grades-toggle {
    margin-left: auto;
    order: 2;
    padding-right: 4%;
  }
}

.student--img {
  border-radius: 50%;
  border: 1px solid black;
  height: 150px;
  width: 150px;
  overflow: hidden;
  margin-top: 5%;

  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
}

.student-details {
  padding-left: 10%;

  .student-name h1 {
    text-align: left;
  }

  .grades {
    div {
      display: flex;
      gap: 40px;
      padding-left: 7%;
    }
    ul {
      padding-left: 7%;
      text-align: left;
    }
  }

  .details {
    padding-left: 7%;
    text-align: left;
    list-style: none;
    width: 100%;
  }
  .MuiInput-root.MuiInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-1ptx2yq-MuiInputBase-root-MuiInput-root {
    width: 60%;
  }

  .taglist {
    text-align: left;
    padding-left: 7%;
    padding-top: 7%;
    padding-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
  }
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
  padding-top: 50%;

  img {
    height: 30px;
    opacity: 20%;
  }
}
@media only screen and (max-width: 550px) {
  .student-name h1 {
    font-size: 20px;
  }
  .student--img {
    height: 100px;
    width: 100px;
    margin-left: 5%;
  }

  .details {
    font-size: 14px;
  }

  .button {
    img {
      height: 20px;
    }
  }
}

@media only screen and (min-width: 551px) and (max-width: 992px) {
  .details {
    font-size: 20px;
  }
}

@media only screen and (min-width: 993px) {
  .details {
    font-size: 25px;
  }
  .student-name h1 {
    font-size: 40px;
  }
}
